#content {
  height: 100%;
  width: 100%;
  position: relative;
}

#not-found {
  padding: 10vw 30vw 10vw 30vw;
}

#spinner > img {
  height: 15vw;
}

#spinner {
  margin-top: 28vh;
  text-align: center;
}
