@import url("https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css");
@import url("https://cdn.jsdelivr.net/npm/@mdi/font@6.5.95/css/materialdesignicons.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css");

.navbar-item.is-mega {
  position: static;
}
.navbar-item.is-mega .is-mega-menu-title {
  margin-bottom: 0;
  padding: 0.375rem 1rem;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body > footer {
  margin-top: auto;
}

#content {
  height: 100%;
  width: 100%;
  position: relative;
}

#not-found {
  padding: 10vw;
}

#not-found > img {
  padding-left: 20vw;
  padding-right: 20vw;
}

#spinner > img {
  height: 15vw;
}

#spinner {
  margin-top: 28vh;
  text-align: center;
}

.share-btn {
  position: relative;
  border: none;
  background: #fff;
  color: #ff7d7d;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  font-size: 30px;
  padding-top: 2.5px;
  padding-right: 3px;
  cursor: pointer;
  z-index: 2;
}

.share-options {
  position: absolute;
  bottom: 20%;
  left: 30%;
  width: auto;
  height: auto;
  transform-origin: bottom;
  transform: scale(0);
  border-radius: 10px;
  background: rgba(15, 15, 15, 0.5);
  color: #fff;
  padding: 20px;
  font-family: "roboto";
  transition: 0.5s;
  transition-delay: 0.5s;
}

.share-options.active {
  transform: scale(1);
  /* transform : rotate(180deg); */
  transition-delay: 0s;
}

.social-media {
  opacity: 0;
  transition: 0.5s;
  transition-delay: 0s;
  width: 250px;
  height: 120px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px 0;
}

.social-media-btn {
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #000;
  color: #fff;
  line-height: 50px;
  font-size: 25px;
  cursor: pointer;
  margin: 0 5px;
  text-align: center;
}

.social-media-btn:nth-child(1) {
  background: #ffa654;
}

.social-media-btn:nth-child(2) {
  background: #25d366;
}

.social-media-btn:nth-child(3) {
  background: #e4405f;
}

.social-media-btn:nth-child(4) {
  background: #1da1f2;
}

.social-media-btn:nth-child(5) {
  background: #1877f2;
}

.social-media-btn:nth-child(6) {
  background: #0a66c2;
}

.link-container {
  opacity: 0;
  transition: 0.5s;
  transition-delay: 0s;
  width: 100%;
  position: relative;
  height: 40px;
  display: flex;
  align-items: center;
  border-radius: 40px;
  background-color: #fff;
  overflow: hidden;
  padding: 0 10px;
}

.link {
  width: 80%;
  height: 100%;
  line-height: 40px;
  color: #000;
}

.copy-btn {
  position: absolute;
  right: 0;
  cursor: pointer;
  background: #000;
  color: #fff;
  border: none;
  height: 100%;
  width: 30%;
  text-transform: capitalize;
  font-size: 16px;
}

.share-options.active .title,
.share-options.active .social-media,
.share-options.active .link-container {
  opacity: 1;
  transition: 0.5s;
  transition-delay: 0.5s;
}

#notValidHeading {
  opacity: 1 !important;
  text-align: center;
}

#hoverableTableRow {
  cursor: pointer;
}

#fab {
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  z-index: 3;
  position: absolute;
  /* bottom: calc(15vh + 30px); */
  bottom: 10vh;
  right: 10vw;
}

#main-content {
  height: calc(100vh - 56px);
  background-color: #9dbbf9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.vertically-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#welcome-image {
  width: 100%;
  height: 100%;
}

#main-content-children {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#welcome-image {
  border-radius: 5px;
}
